@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

div[title='gps-user-position'] {
  width: 400px;
  background-color: #0be394;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: scale(6, 6);
    opacity: 0;
  }
}

.gm-style-iw-d {
  max-height: 100%;
  overflow: visible !important;

}

.gm-style-iw {
  padding: 0 !important;
  max-width: 100% !important;
}

.gm-ui-hover-effect {
  display: none !important;
}